.article-container {
    display: flex;
    justify-content: center;
}

.article {
    width: 1000px;
    height: 100%;
    padding: 70px 50px 70px 50px;
    margin: 10px;
    border: 1px solid;
    background: blanchedalmond;
    border-radius: 0.25rem;
}
