a {
    text-decoration: none;
    color: black;
}

.navigation-bar-box {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: hsla(0,0%,100%,.4);
}

.navigation-bar {
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 1000px;
    font-size: 12px;
}

.navigation-left-box {
    width: 600px;
    display: flex;
    flex-direction: row;
}

.navigation-right-box {
    width: 400px;
    display: flex;
    flex-direction: row-reverse;
}

.navigation-item {
    width: 150px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-myface {
    height: 32px;
    border-radius: 50%;
}

.navigation-myface-details {
    height: 70px;
    border-radius: 50%;
    position: absolute;
}
