.index-page {
    background-color: #282c34;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.page {
    background-color: #282c34;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
